#:schema node_modules/@deco/workers-runtime/config-schema.json
name = "mcp-template-with-view"
main = "server/main.ts"
compatibility_date = "2025-06-17"
compatibility_flags = [ "nodejs_compat" ]
scope = "deco"

[deco]
workspace = "deco"
enable_workflows = false
local = false
