#:schema node_modules/@decocms/runtime/config-schema.json
name = "durable-mcps-toolkit"
main = "server/main.ts"
compatibility_date = "2025-06-17"
compatibility_flags = [ "nodejs_compat" ]
scope = "oimoi"

[assets]
directory = "./dist/client"
binding = "ASSETS"
not_found_handling = "single-page-application"
run_worker_first = true

[deco]
workspace = "oimoi"
enable_workflows = false
local = false

[[deco.bindings]]
name = "INTEGRATIONS"
type = "mcp"
integration_name = "@deco/integrations"

[[deco.bindings]]
name = "DATABASE"
type = "mcp"
integration_name = "@deco/database"

[[queues.producers]]
binding = "WORKFLOW_QUEUE"
queue = "queue"

[[queues.consumers]]
queue = "queue"
max_batch_size = 1
max_batch_timeout = 1