#:schema node_modules/@decocms/runtime/config-schema.json
name = "vibecoding-toolkit"
main = "server/main.ts"
compatibility_date = "2025-06-17"
compatibility_flags = [ "nodejs_compat" ]
scope = "deco"

[assets]
directory = "./dist/client"
binding = "ASSETS"
not_found_handling = "single-page-application"
run_worker_first = true

[deco]
workspace = "deco"
enable_workflows = false
local = false